@font-face {
  font-family: Digital;
  src: url(digital-7.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*16px/62,5% = 10px > 1rem = 10px but 1em = 16px*/
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:#7DC7EF;
}
canvas {    
  border: 5px solid #C9FFD9; 
}


::selection {
  background-color: rgb(102, 224, 255);
  color: #fff;
}


#players {
  padding-left: 3vh;
  padding-bottom: 1vh;
  width: 80vw;
  display: flex;
  justify-content: space-around; 
  font-size: 2rem;
  font-weight: bold;
  color: #006477;
}    

#score {
  margin: 1vh;
  width: 80vw;
  display: flex;
  justify-content: space-around; 
  font-family: 'Digital';
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .3em;
  
}

.score__player, .score__ai {
  color: #FF1654;
}

.score__bg {
  background-color: #081A22;
  border-radius: 8px;
  padding: 1vh 1vh 1vh 2vh;
  box-shadow: 5px 10px 18px #888888;
  margin-bottom: 1vh;
}


.winner {
  background-image: url("img/pattern.png");
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: #CF0B0B;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all .6s;
  transform: scale(0,0) rotate(720deg);
}

.winner h1 {
  
  font-weight: 900;
  text-shadow: 3px 10px 12px #0201013f;
  text-transform: uppercase;
}
.winner__title {
  font-family: 'Digital';
  letter-spacing: 1rem;
  color: #66e0ff;
  font-size: 6rem;
  font-style: italic;
}

.winner__trophy {
  font-weight: 900;
  font-size: 8rem;
  text-shadow: 3px 10px 12px #0201013f;
  color: gold;
}

.winner__trophy:first-child {
  transform: rotate(-15deg);
}

.winner__trophy:last-child {
  transform: rotate(15deg);
}

/* .winner i {
  font-size: 8rem;
  color: rgb(255, 217, 0);
  padding: 3rem 0;
} */

.winner__display {
  color: #24FFA7;
  padding: 3rem;
  display: flex;
  align-items: center;
  
}

.winner__display-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
}



.welcome {
  background-image: url("img/pattern.png");
  position: absolute;
  width: 100vw;
  height: 100%;
  color: #fff;

  transition: all .6s;
  /* transform: scale(0,0); */


  display: grid;
  grid-gap: .4rem;
  align-content: center;
  justify-items: center;

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .1rem;
  text-shadow: 3px 5px 8px #0201013f;
  text-align: center;
}

.welcome h1 {
  font-family: 'Digital';
  color: rgb(102, 224, 255);
  font-weight: 900;
  font-size: 5rem;
  letter-spacing: .5rem;

  text-shadow: 3px 10px 12px #0201013f;
  display: flex;
}

.welcome h2 {
   font-size: 3rem;
}

.welcome h4 {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
}

.welcome__trophy {
  text-shadow: 3px 10px 12px #0201013f;
  color: gold;
}

.welcome__winnings {
  display: flex;
  width: 55em;
  justify-content: space-between;
  align-items: center;
}

.welcome__winnings img {
  width: 17rem;
  height: auto;
}

.welcome__winnings h4 {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2rem;
}

.welcome__buttons {
  display: flex;
  /* padding-bottom: 3rem; */
}

button {
  padding: 10px 15px;
  margin: 10px;
  border: 3px solid white;
  background-color: white;
  color: #286589;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .3s;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 10px 12px #0201013f;
}


 button:hover {
  border: 3px solid white;
  background-color: transparent;
  color: #fff;
  transform: translateY(3px);
  box-shadow: none;
}


.btnActive {
  border: 3px solid white;
  background-color: transparent;
  color: #fff;
  transform: translateY(3px);
  box-shadow: none;

} 

.btn {
  margin-top: 2rem;
  width: 9rem;
  height: 9rem;
  /* font-size: 2rem; */
  padding-top: 13px;
  border: none;
  border-radius: 50%;

  display: flex;
  justify-content: center;
}

.btn-start {
  background: linear-gradient(to bottom, #CF0B0B, #8F0202);
  color: white;
}

.btn-reset {
  background: linear-gradient(to bottom, rgb(207, 155, 11), rgb(255, 217, 0));
  color: white;
}

.btn:hover,
.btn:active,
.btn:focus {

  padding-left: 13px;

}

input {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0 5px 0 12px;
  margin: 0 15px 0 10px;
  width: 55px;
  color: #fff;
  text-align: center;
  outline: none;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  letter-spacing: .5rem;
  display: flex;
  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


input:focus {
  background-color: #205370;
}

.displayNone {
  display: none;
}
